.history/
.vscode/
**/.terraform
.DS_STORE
**/x-local/
node_modules/
*.plan
**/*.pem
**/.idea/**
**/jenkins/src/main/jenkins.gdsl
**/jenkins/src/main/**
*.iml
**/terraform.tfstate
**/terraform.tfstate.*
**/.aws-sam/**
zed/**
tmux/**
packer/**
op/**
jgit/**
iterm2/**
htop/**
gtk-2.0/**
github-au/**topilot
git/**
gh-dash/**
gh/**
gcloud/**
direnv/**
container/**s
coc/**
btop/**
bat/**
Autodesk/**
argocd/**
alacritty/**