.history/
.vscode/
**/.terraform
.DS_STORE
**/x-local/
node_modules/
*.plan
**/*.pem
**/.idea/**
**/jenkins/src/main/jenkins.gdsl
**/jenkins/src/main/**
*.iml
**/terraform.tfstate
**/terraform.tfstate.*
**/.aws-sam/**
